@model IEnumerable<Student>
@{
    ViewBag.Title = "学生列表页面";
}
<div class="card-deck">
    @foreach (var student in Model)
    {
        var photoPath = "~/images/" + (student.PhotoPath ?? "timg.jpg");
        <div class="card m-3" >
            <div class="card-body">
                <div class="card-head">
                    <h5>@student.Name</h5>
                    <h5>@student.Email</h5>
                </div>
                <img class="card-img-top imagesThumbnail " src="@photoPath" asp-append-version="true" />
                <div class="card-body">
                </div>
                <div class="card-footer text-center">
                    <a asp-controller="home" asp-action="detail" asp-route-id="@student.Id" class="btn btn-primary m-1">查看</a>
                    <a asp-controller="home" asp-action="edit" asp-route-id="@student.Id" class="btn btn-primary m-1">编辑</a>
                    <a asp-controller="home" asp-action="delete" asp-route-id="@student.Id" class="btn btn-danger m-1">删除</a>
                </div>
            </div>
        </div>
    }
</div>


@section Scripts{
    <script src="~/js/site.js"></script>
    }
